<ng-template #apiData>
  <section>
    <div class="shopping-cart-area">
      <div class="bag-details">
        <div>
          <p>MY SHOPPING BAG ({{cartContainer?.data?.products?.length}} ITEMS)</p>
        </div>
        <div>
          <p>TOTAL: {{symbol+' '+totalPrice}}</p>
        </div>
      </div>
      <div class="item-outer" id="scrollbar">
  
      <div class="item" *ngFor="let product of cartContainer?.data?.products">
        <div class="item-desc-container">
          <div class="item-img ">
            <img
              [src]="product.photo"
              class="skeleton"
              alt="model1"
            />
          </div>
          <div class="item-details">
            <div class="desc">
              <div class="item-title">
                <p class="uppercase">{{product.brand}}</p>
              </div>
              <p class="item-description">
                {{product.title}}
              </p>
              <div class="qty">Qty: {{product.quantity}}</div>
            </div>
            <div class="price-tag">
              <p>{{product.symbol}} {{product.base_currency_final_sale_price}}</p>
              <div class="discount-tag">
                <s>{{product.symbol}}{{product.base_currency_original_sale_price}}</s>&nbsp;&nbsp;<span>{{product.sale_discount}}% off</span>
              </div>
            </div>
          </div>
        </div>
        <div class="add-ons" *ngIf="product?.add_ons?.length">
          <div class="add-on-head">
            <p>Add-Ons:</p>
          </div>
          <div class="add-on-items">
            <div class="add-on-item" *ngFor="let addOn of product?.add_ons">
                <div>
                  <p><span class="add-on-price-tag">{{product.symbol}} {{addOn.base_cost}}</span> {{addOn.name}}</p>
                </div>
                <div class="remove-ico ">
                  <img class="cursor-pointer" src="../../../assets/icons/x-circle.svg" alt="remove">
  
  
                </div>
            </div>
          </div>
        </div>
        <div class="shopping-action-area">
          <div class="rmv-btn">
              REMOVE
          </div>
          <div class="move-to-wishlist">
              MOVE TO WISHLIST
          </div>
        </div>
      </div>
    </div>
  
      
    </div>
    <div class="price-area">
        <div class="coupon-area">
          <div class="coupon-head">
              <p>COUPONS</p>
          </div>
          <div class="apply-coupon">
              <div class="apply-coupon-left">
                  <img src="https://img.icons8.com/ios/50/000000/price-tag--v1.png" width="15px" height="15px"/>
                  <span class="discount-tag-head">APPLY COUPONS</span>
                  <p class="discount-tag-subhead"><span class="discount-tag-subhead-login">Login</span> to see best coupons for you.</p>
              </div>
              <div class="apply-coupon-btn cursor-pointer">
                  APPLY <img width="15px" height="15px" src="../../../assets/icons/arrow-right.svg"/>
              </div>
          </div>
        </div>
        <div class="price-details">
          <H4 class="brand-heading-font">PRICE DETAILS</H4>
          <div class="excel-area">
          <div class="mrp flex-custom pb-4">
            <div class="mrp-tag text-gray">
              <p>Total MRP</p>
            </div>
            <div class="mrp-price bold-bright">
                <p>{{symbol+' '+totalPrice}}</p>
            </div>
          </div>
  
          <div class="bag-discount flex-custom pb-4">
            <div class="bag-discount-tag text-gray">
              <p>Bag Discount</p>
            </div>
            <div class="bag-discount-price bold-bright">
              <p>- {{symbol+' '+ 0}}</p>
            </div>
          </div>
  
          <div class="subtotal flex-custom pb-4">
            <div class="subtotal-tag text-gray">
              <p>Sub Total</p>
            </div>
            <div class="subtotal-price bold-bright">
              <p>{{symbol+' '+totalPrice}}</p>
  
            </div>
          </div>
  
          <div class="discount flex-custom pb-4">
            <div class="discount-tag text-gray">
              <p>Discount</p>
            </div>
            <div class="discount-price bold-bright">
              <p>{{symbol}} 0</p>
            </div>
          </div>
  
          <div class="shipping flex-custom">
            <div class="shipping-tag text-gray">
              <p>Shipping Charge</p>
            </div>
            <div class="shipping-price bold-bright">
              <p>{{symbol}} 0</p>
            </div>
          </div>
        </div>
          <div class="total-amount flex-custom brand-heading-font">
            <div class="total-amount-tag">
              <p>TOTAL AMOUNT</p>
            </div>
            <div class="total-amount-price">
              <p>{{symbol+' '+totalPrice}}</p>
            </div>
          </div>
  
          <div class="select-address brand-heading-font cursor-pointer">
            SELECT ADDRESS 
                  <img src="../../../assets/icons/arrow-right-white.svg" width="15px" height="15px"/>
                  
          </div>
        </div>
      
    </div>
  </section>
</ng-template>


<section *ngIf="dummyContent;else apiData">
    <div class="shopping-cart-area">
      <div class="bag-details">
        <div>
          <p>MY SHOPPING BAG (2 ITEMS)</p>
        </div>
        <div>
          <p>TOTAL: Rs.5,999</p>
        </div>
      </div>
      <div class="item-outer" id="style-2">
        <div class="item">
          <div class="item-desc-container">
            <div class="item-img">
              <img
                src="../../../assets/media/model1.jpg"
                height="100px"
                width="78px"
                alt="model1"
              />
            </div>
            <div class="item-details">
              <div class="desc">
                <div class="item-title">
                  <p>INDIE PICKS</p>
                </div>
                <p class="item-description">
                  Mustard Casual Cotton Silk Striped Saree with Unstitched Blouse
                </p>
                <div class="qty">Qty: 1</div>
              </div>
              <div class="price-tag">
                <p>Rs. 1,035</p>
                <div class="discount-tag">
                  <s>₹2,999</s>&nbsp;&nbsp;<span>55% off</span>
                </div>
              </div>
            </div>
          </div>
          <div class="add-ons">
            <div class="add-on-head">
              <p>Add-Ons:</p>
            </div>
            <div class="add-on-items">
              <div class="add-on-item">
                  <div>
                    <p><span class="add-on-price-tag">Rs. 800</span> Standard Blouse</p>
                  </div>
                  <div class="remove-ico">
                    <img src="../../../assets/icons/x-circle.svg" alt="remove">
    
    
                  </div>
              </div>
    
              <div class="add-on-item">
                <div>
                    <p><span class="add-on-price-tag">Rs. 800</span> Standard Petticoat</p>
                </div>
                <div class="remove-ico">
                  <img src="../../../assets/icons/x-circle.svg" alt="remove">
    
                </div>
            </div>
            </div>
          </div>
          <div class="shopping-action-area">
            <div class="rmv-btn">
                REMOVE
            </div>
            <div class="move-to-wishlist">
                MOVE TO WISHLIST
            </div>
          </div>
        </div>
   
  
      <div class="item">
          <div class="item-desc-container">
            <div class="item-img">
              <img
                src="../../../assets/media/model2.PNG"
                height="100px"
                width="78px"
                alt="model2"
              />
            </div>
            <div class="item-details">
              <div class="desc">
                <div class="item-title">
                  <p>INDIE PICKS</p>
                </div>
                <p class="item-description">
                  Mustard Casual Cotton Silk Striped Saree with Unstitched Blouse
                </p>
                <div class="qty">Qty: 1</div>
              </div>
              <div class="price-tag">
                <p>Rs. 1,035</p>
                <div class="discount-tag">
                  <s>₹2,999</s>&nbsp;&nbsp;<span>55% off</span>
                </div>
              </div>
            </div>
          </div>
          <div class="add-ons">
            <div class="add-on-head">
              <p>Add-Ons:</p>
            </div>
            <div class="add-on-items">
              <div class="add-on-item">
                  <div>
                    <p><span class="add-on-price-tag">Rs. 800</span> Standard Blouse</p>
                  </div>
                  <div class="remove-ico">
                    <img src="../../../assets/icons/x-circle.svg" alt="remove">
    
    
                  </div>
              </div>
    
              <div class="add-on-item">
                <div>
                    <p><span class="add-on-price-tag">Rs. 800</span> Standard Petticoat</p>
                </div>
                <div class="remove-ico">
                  <img src="../../../assets/icons/x-circle.svg" alt="remove">
    
                </div>
            </div>
            </div>
          </div>
          <div class="shopping-action-area">
              <div class="rmv-btn">
                  REMOVE
              </div>
              <div class="move-to-wishlist">
                  MOVE TO WISHLIST
              </div>
            </div>
        </div> 
      </div>
  
    </div>
    <div class="price-area">
        <div class="coupon-area">
          <div class="coupon-head">
              <p>COUPONS</p>
          </div>
          <div class="apply-coupon">
              <div class="apply-coupon-left">
                  <img src="https://img.icons8.com/ios/50/000000/price-tag--v1.png" width="15px" height="15px"/>
                  <span class="discount-tag-head">APPLY COUPONS</span>
                  <p class="discount-tag-subhead"><span class="discount-tag-subhead-login">Login</span> to see best coupons for you.</p>
              </div>
              <div class="apply-coupon-btn cursor-pointer">
                  APPLY <img width="15px" height="15px" src="../../../assets/icons/arrow-right.svg"/>
              </div>
          </div>
        </div>
        <div class="price-details">
          <H4 class="brand-heading-font">PRICE DETAILS</H4>
          <div class="excel-area">
          <div class="mrp flex-custom pb-4">
            <div class="mrp-tag text-gray">
              <p>Total MRP</p>
            </div>
            <div class="mrp-price bold-bright">
                <p>Rs. 2,299</p>
            </div>
          </div>
  
          <div class="bag-discount flex-custom pb-4">
            <div class="bag-discount-tag text-gray">
              <p>Bag Discount</p>
            </div>
            <div class="bag-discount-price bold-bright">
              <p>- Rs. 800</p>
            </div>
          </div>
  
          <div class="subtotal flex-custom pb-4">
            <div class="subtotal-tag text-gray">
              <p>Sub Total</p>
            </div>
            <div class="subtotal-price bold-bright">
              <p>Rs. 2,199</p>
  
            </div>
          </div>
  
          <div class="discount flex-custom pb-4">
            <div class="discount-tag text-gray">
              <p>Discount</p>
            </div>
            <div class="discount-price bold-bright">
              <p>Rs. 0</p>
            </div>
          </div>
  
          <div class="shipping flex-custom">
            <div class="shipping-tag text-gray">
              <p>Shipping Charge</p>
            </div>
            <div class="shipping-price bold-bright">
              <p>Rs. 0</p>
            </div>
          </div>
        </div>
          <div class="total-amount flex-custom brand-heading-font">
            <div class="total-amount-tag">
              <p>TOTAL AMOUNT</p>
            </div>
            <div class="total-amount-price">
              <p>RS. 2,299</p>
            </div>
          </div>
  
          <div class="select-address brand-heading-font">
            SELECT ADDRESS 
                  <img src="../../../assets/icons/arrow-right-white.svg" width="15px" height="15px"/>
                  
          </div>
        </div>
      
    </div>
  </section> 
  